@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Orienta);

@mixin container {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

@mixin heading {
  font-family: 'Roboto', sans-serif;
}

body {
  @include container;
}

.title {
  @include heading;
  font-size: 300%;
}

.sub-title {
  font-size: 150%;
  color: #666;
}

h1 {
  @include heading;
  font-size: 200%;
}

h2 {
  @include heading;
  font-size: 150%;
}

h3 {
  @include heading;
  font-size: 150%;
}

.header {
  @include container;
}

.body {
  @include container;
  font-family: 'Orienta', sans-serif;
  line-height: 1.7em;
}

.footer {
  @include container;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  font-size: 75%;
}
